body{
  margin: 0;
  font-family: 'Bree Serif', serif;
  padding: 0;
}
#root{
  margin: 0;
  padding: 0;
}
.app{
  margin: 0;
  padding: 0;
}
.hidden-div {
opacity: 0;
}

.hidden-div:hover {
  display: block;
  opacity: 1;
}
.buggerBar{
  position: fixed;
  left: 0;
  top:0;
  padding: 0;

  color: white;
  background-color: rgba(0, 0, 0, .25);
  height: 100vh;
  text-align: start;
  border-radius: 5px;
  width: 100%;
  z-index: 2;

  margin: 50px;
}
.displayOff{
  display: none;
}
.sideBarInfo{
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
}