html,body{
  margin: 0;
  font-family: 'Bree Serif', serif;
  padding: 0;
width: 100%;
}

#root{
  margin: 0;
  padding: 0;
}
.app{
  margin: 0;
  padding: 0;
}
.hidden-div {
opacity: 0;
}

.hidden-div:hover {
  display: block;
  opacity: 1;
}
.buggerBar{
  position: fixed;
  left: 0;
  top:0;
  color: white; 
  text-align: start;
  border-radius: 5px;
  z-index: 30;
  padding-left:30px;
  margin-top: 60px;
}
.displayOff{
  display: none;
}
.sideBarInfo{
  border-radius: 10px;
  margin-top: 20px;
  padding: 20px;
  display: flex;
  height: 500px;
  width: 300px;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  z-index: 3;
}
body.menu-open {
  overflow: hidden;
}